.admin-panel-form {
  all: unset;
}
.admin-panel__field {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border-radius: 50px;
  margin-left: 20px;
  margin-top: 20px;
}

.admin-panel__input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #e9ecef;
  margin: 0;
}

.submit-errors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.admin-panel-error {
  color: red;
  text-align: center;
  margin-left: 30px;
}

.save-new-hotel-btn {
  display: inline;
  width: fit-content;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.save-new-hotel-btn:hover {
  background-color: #007bff;
  color: white;
}
.admin-panel-h1 {
  margin-left: 20px;
  margin-top: 30px;
}

.positive-response {
  color: green;
  text-align: center;
  margin-left: 30px;
}

.positive-message {
  color: green;
  text-align: center;
  margin-left: 30px;
}

.delete-hotel-btn {
  display: inline;
  width: fit-content;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.admin-panel-form {
  all: unset;
}
.admin-panel__field {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border-radius: 50px;
  margin-left: 20px;
  margin-top: 20px;
}

.room-btn {
  display: inline;
  width: fit-content;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.save-new-room-btn:hover {
  background-color: #007bff;
  color: white;
}

textarea {
  resize: none;
}

.currency {
  display: inline;
}

.conveniences-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.conveniences-btn:hover {
  background-color: #007bff;
  color: white;
}

.conveniences-container {
  display: flex;
  justify-content: start;
  flex-flow: row wrap;
  height: 100%;
  margin: 20px;
}

.convenience-block {
  padding: 4px 10px;
  background-color: #3e73c4;
  text-justify: center;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 0 4px 4px 4px;
}

.convenience-block:hover {
  background-color: #c25a5a;
}
