.user-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.user-details__field {
  width: 400px;
}

.user-details__input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #e9ecef;
}

.user-details__input:disabled {
  background-color: #f5f5f5;
}

.user-details__button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.user-details__button:hover {
  background-color: #007bff;
  color: white;
}

.h1-logout{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logout {
  display: inline;
  width: fit-content;
  
}

.user-details-h1 {
  width: 200px;
  display: inline;
}